<div [ngClass]="(classContent$ | async)! > 10 ? 'h-32' : 'h-72'"
    class="bg-white fixed flex top-0 w-full left-0 transition-all">
    <div class="w-full flex flex-col h-full items-center pt-5">
        <h2 class="text-slate-800 text-lg font-bold">Hola, Andy</h2>
        <div class="h-full flex items-center flex-col justify-center">
            <h1 [ngClass]="(classContent$ | async)! > 10 ? 'text-xl' : 'text-3xl'" class="text-slate-800"><strong>{{
                    todayValue$ | async | json | jsonToString }}
                </strong>USD</h1>
            <h3 [ngClass]="(isTodayValueHigher$ | async) ? 'text-red-300' : 'text-green-400' " class="text-md">{{
                todayValueLast$ | async | json | jsonToString }} USD</h3>
        </div>
    </div>
</div>